
.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App-header {
  min-height: 100px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.nav-tabs {
  width: 100%;
}
.nav-link {
  color: white;
  font-weight: 600;
}
.nav-link:hover{
  color: white;
}

main {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;

}

footer {
  flex: 0 0 auto;
  min-height: 100px;
  background-color: #282c34;
}

.list__group-item {
  display: flex;
  justify-content: space-between;
}
.dropdown {
  position: fixed;
  right: 230px;
}